@model IEnumerable<NobelMVC.Models.LaureadoIndividuo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataMorte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CidadeNascimento.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CidadeMorte.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Laureado.LaureadoTipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataMorte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CidadeNascimento.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CidadeMorte.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Laureado.LaureadoTipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LaureadoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LaureadoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LaureadoId })
        </td>
    </tr>
}

</table>
